// import všech proměných a funkcí uvedených v dedekovaným souboru v,,ariables_and_similarities"
@import "./info_page/variables/variables_and_similarities";

body,
html {
    height: 100%;
}
// celé tělo mé stránky ve kterém jsou vnořené její části (hlavička, hlavní část a patička)
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    //primární barva pozadí stránky
    background-color: $primary-color;
    //nastavení sekundární části (designu) mí stránky
    #background {
        background-color: $secondary-color;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        //optimalizace pro desktop a mobile
        @include desktop {
            transition: $desktop_trasition_time;
            -webkit-clip-path: ellipse(50% 99% at 50% 100%);
            clip-path: ellipse(50% 99% at 50% 100%);
        }
        @include mobile {
            transition: $desktop_trasition_time;
            -webkit-clip-path: ellipse(60% 21% at 50% 100%);
            clip-path: ellipse(60% 21% at 50% 100%);
        }
    }
    // nastavení patičky mé stránky. (header s názvem stránky)
    header {
        background: $secondary-color;
        box-shadow: $box_shadows;
        border: $primary-color solid $buttons_border_size;
        width: 100%;
        height: 3.3em;

        //optimalizace na desktop a mobile
        @include desktop {
            transition: $desktop_trasition_time;
            width: 50vw;
            margin-left: 25vw;
        }
        @include mobile {
            transition: $desktop_trasition_time;
            width: 100%;
        }
        // Design ,,slepého odkazu", který je na stejné urovni jako header.
        a {
            color: black;
            width: 100vw;
            text-decoration: none;
            padding: $padding 0;
            text-align: center;
            float: left;
            font-size: $link-font-size;
            @include desktop {
                transition: $desktop_trasition_time;
                width: 50vw;
            }
            @include mobile {
                transition: $desktop_trasition_time;
                width: 100%;
            }
            &:hover {
                background-color: $button_hover_color;
                transition: $button_transition_time;
                cursor: unset;
            }
        }
    }
}
/*
    hlavní část stránky, text uložený do prostřed.
    zde si hraji s upravou fontů, responzivitou celé stránky a jejího vzhledu.
    */
main {
    section#primary {
        color: rgb(0, 0, 0);
        padding: $padding;
        text-align: center;

        h1 {
            font-size: 4em;
            margin-top: 2vh;
            text-decoration-line: underline;
        }

        h3 {
            font-size: 1.5em;
            margin: 0;
        }
        @include mobile {
            #nadpis {
                color: $secondary-color;
                font-size: 2.5em;
            }
        }

        div p {
            background: $secondary-color;
            padding: 20px;
            margin: 1em auto;
            border-radius: $border_radius;
            box-shadow: $box_shadows;
            width: 90%;
            font-size: $link-font-size;
        }
        #nadpis {
            font-weight: 900;
        }
        //Prostřední článek a nadpis hlavní stránky.
        #article {
            background: $secondary-color;
            padding: 20px;
            margin: 1em auto;
            border-radius: $border_radius;
            box-shadow: $box_shadows;
            width: 90%;
            font-size: $link-font-size;
            text-align: center;
            @include desktop {
                transition: $desktop_trasition_time;
                width: 50vw;
                height: 30vh;
                text-align: center;
            }
            @include mobile {
                transition: $desktop_trasition_time;
                width: 90%;
                text-align: center;
            }

            h1 {
                font-size: 1.5em;
                margin-top: 1rem;
            }
            h3 {
                font-size: 1.8em;
            }
            div {
                margin-top: 2.6em;
            }
        }

        // toto id se zaměřuje na tlačítka odkazu, která jsou k naeznutí hned pod textem s základními informacemi o COVID-19
        #button {
            background: $secondary-color;
            padding: 4px;
            margin: 0.5em auto;
            border: $buttons_border_size solid $border-color;
            box-shadow: $box_shadows;
            width: 50%;
            text-decoration: none;
            @include desktop {
                transition: $desktop_trasition_time;
                width: 30%;
                margin-top: 1.5vh;
            }
            @include mobile {
                transition: $desktop_trasition_time;
                width: 50%;
            }

            &:hover {
                background-color: $button_hover_color;
                transition: $button_transition_time;
            }
            a {
                color: black;
                text-decoration: none;
                font-size: $link-font-size;
                &:hover {
                    transition: $button_transition_time;
                }
            }
        }
    }
}
//patička celé stránky, která obsahuje informace o mě a copyright. Footer se snažím udělat responzivní a vzhledově přívětivý.
footer {
    background: $primary-color;
    width: 100%;
    height: 3.2em;
    @include desktop {
        transition: $desktop_trasition_time;
        width: 100vw;
        border-top: rgb(0, 0, 0) solid 1px;
        margin-top: 22.5vh;
        height: 20vh;
    }
    @include mobile {
        transition: $desktop_trasition_time;
        width: 100%;
        border-top: rgb(0, 0, 0) solid 1px;
        margin-top: 23vh;
        height: 20vh;
    }
    a {
        color: $secondary-color;
        width: 100vw;
        text-decoration: none;
        padding: $padding 0;
        text-align: center;
        float: left;
        font-size: $link-font-size;
        &:hover {
            color: $primary-color;
            background-color: $button_hover_color;
            transition: $button_transition_time;
        }
        @include desktop {
            transition: $desktop_trasition_time;
            width: 100vw;
            height: 20vh;
            cursor: unset;
        }
        @include mobile {
            transition: $desktop_trasition_time;
            width: 100%;
            height: 20vh;
            cursor: unset;
        }
    }
}
